DATABASE_URL=""
DATABASE_URL_UNPOOLED=""

APIFY_TOKEN=""

GROQ_API_KEY=""
GROQ_MODEL="llama-3.3-70b-versatile"

ABR_GUID=""
PAGESPEED_API_KEY=""

APP_PASSWORD=""
AUTH_SECRET=""

OPERATOR_FIRST_NAME=""
OPERATOR_LAST_NAME=""
OPERATOR_HOME_LOCATION="Penrith NSW, Australia"
OPERATOR_HOME_LAT="-33.7511954"
OPERATOR_HOME_LON="150.6941711"
OPERATOR_TIMEZONE="Australia/Sydney"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
